<center>
  <h3>Welcome to Notekeeping</h3>
  <br>
  <div class="container">
    <table class="table table-striped table-bordered" style= "width:475px">
      <tbody>
        <tr>
          <td>All users can create notes.</td>
        </tr>
        <tr>
          <td>Users can share their notes with other users.</td>
        </tr>
        <tr>
          <td>Notes can be <strong>tagged</strong> to observe trends.</td>
        </tr>
        <tr>
          <td><strong>My Notes</strong> link shows the notes you created.</td>
        </tr>
        <tr>
          <td><strong>Notes shared with me</strong> has all the notes others have shared with you.</td>
        </tr>
      </tbody>
    </table>
  </div>
<center>